* {
  box-sizing: border-box;
}

/* .container{
  margin: 3rem 3rem;
} */

body {
  display: block;
}

.container {
  width: 80%;
  margin: -8px -8px -8px -10px;
  overflow: hidden;
}

li {
  list-style: none;
}

ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px;
  grid-auto-flow: dense;
  background-color: #1C1B1B;
}

li:nth-child(1) {
  grid-column: span 2;
}

li:nth-child(2) {
  grid-column: span 3;
}

li:nth-child(3) {
  grid-column: span 2;
}

li:nth-child(4) {
  grid-column: span 6;
}

li:nth-child(5) {
  grid-column: span 2;
}

li:nth-child(6) {
  grid-column: span 4;
  grid-row: span 4;
}

li:nth-child(7) {
  grid-column: span 2;
  grid-row: span 2;
}

li:nth-child(8) {
  grid-row: span 3;
}

li:nth-child(10) {
  grid-row: span 2;
}

li:nth-child(11) {
  grid-column: span 2;
  grid-row: span 2;
}

li:nth-child(12) {
  grid-column: span 2;
}

li:nth-child(13) {
  grid-column: span 2;
}

li:nth-child(14) {
  grid-row: span 3;
}

li:nth-child(15) {
  grid-column: span 3;
}

li:nth-child(16) {
  grid-column: span 2;
  grid-row: span 2;
}

li:nth-child(17) {
  grid-row: span 3;
}

li:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
}

li:nth-child(19) {
  grid-column: span 2;
}

li:nth-child(20) {
  grid-column: span 4;
}

/* li:nth-child(2n+1) {
  background-color: pink;
  border: 2px solid white;
  grid-row: span 3;
  grid-column: span 4;
}

li:nth-child(2n+2) {
  background-color: blue;
  border: 2px solid white;
  grid-row: span 2;
  grid-column: span 2;
} */
